<html>
<head>
    <title>Reading List</title>
    <link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<body>
<h2>Your Reading List</h2>
<div th:unless="${#lists.isEmpty(books)}">
    <dl th:each="player : ${books}">
        <dt class="bookHeadline">
            <span th:text="${player.description}">Title</span>
            <span th:text="${player.firstName}">Name</span>
            by

        </dt>
        <dd class="bookDescription">
<span th:if="${player.firstName}"
      th:text="${player.firstName}">Description</span>
        <span th:if="${player.firstName eq null}">
No description available</span>
        </dd>
    </dl>
</div>
<div th:if="${#lists.isEmpty(books)}">
    <p>You have no books in your book list</p>
</div>
<hr/>
<h3>Add a book</h3>
<form method="POST" th:action="@{sender}">
    <label for="firstName">Title:</label>

    <input type="text" name="title" size="50"></input><br/>

<textarea name="description" cols="80" rows="5">
</textarea><br/>
    <input type="submit"></input>
</form>
</body>
</html>